
<div id="page-top">

    <nav class="navbar navbar-expand-lg bg-grey fixed-top" id="mainNav">
      <div class="container px-4">
        <!--  <a class="navbar-brand" href="#page-top">Digital Birthday Card</a> -->
        <a href="/"> <img src="/img/logos/DIBICALOGO_Gradient2_Text_300.png" class="navbar-brand" alt=""></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="/home/#tamplates">Tamplates</a></li>
            <li class="nav-item"><a class="nav-link" href="">My Collection</a></li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/brownymister/dibica">Github</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="header">
      <img
        src="{{ imgUrl }}"
        id="previewImg"
        class="responsive center"
        alt=""
      />
      <h1 class="text-center display-1"><em>"{{ message }}"</em></h1>
    </header>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <p class="m-0 text-center text-white">Copyright &copy; dibica 2022 LICENCED under the <a href="https://github.com/Brownymister/dibica/blob/main/LICENSE">MIT LICENCE</a> </p>
      </div>
    </footer>
    
    </div>