
<div id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container px-4">
        <a class="navbar-brand" href="#page-top">Digital Birthday Card</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#tamplates">Tamplates</a></li>
            <li class="nav-item"><a class="nav-link" href="#tamplates">My Collection</a></li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/brownymister/dibica">Github</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white" style="padding: 10%;">
      <div class="container px-4 text-center">
        <h1 class="fw-bolder">{{ title }}</h1>
        <p class="lead">
         Wanna create simple and goodlooking Digital Brithday cards to send to your friends or family members? <br>
         Just choose a Template your like, type a Name and an Message!
        </p>
      </div>
    </header>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                <app-template-card cardtitle="This is a Title" imgURL="https://via.placeholder.com/500x350?text=your%20content%20here"></app-template-card>
                
                <app-template-card cardtitle="This is a Title 2" imgURL="https://via.placeholder.com/500x350?text=your%20content%20here"></app-template-card>
                
                <app-template-card cardtitle="This is a Title 3" imgURL="https://via.placeholder.com/500x350?text=your%20content%20here"></app-template-card>
                
            </div>
        </div>
    </div>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <p class="m-0 text-center text-white">Copyright &copy; dibica 2022 LICENCED under the <a href="https://github.com/Brownymister/dibica/blob/main/LICENSE">MIT LICENCE</a> </p>
      </div>
    </footer>
    
    </div>